@charset "utf-8";
/*CSS*/
body
{
	background-image:url(imagenes/6.jpg);
	background-repeat:repeat;
	background-position:top center;
	background-size: 100% 100%;

}
#contenido
{
	width:960px;
	margin:0 auto;
	text-align:center;
}
nav ul li
{ 
	display:inline-block;
	margin-right:40px;
	margin-left:40px;
	color:#1d1d1d;
	cursor: pointer;
	padding::5px;
	
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
nav ul li a
{ 
	text-decoration:none;
	font-size:30px;
}
nav ul li:hover
{
	background-color:#1d1d1d;
	color:#e44e2d;
	border-radius:5px;
}
header h1
{
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
	border-bottom:solid;
	padding-bottom:10px;
	border-width:1px;
	border-color:#1d1d1d;
	font-size:48px;
	font-family: 'Francois One', sans-serif;
	margin:0 auto;
	color:#e44e2d;	
}
#formulario
{
	width:750px;
	height:410px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	font-family: 'Francois One', sans-serif;
	font-size:18px;
	margin:0 auto;	
}

#textos
{
	width:750px;
	height:410px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	font-family: 'Francois One', sans-serif;
	font-size:18px;
	margin:0 auto;
	
}
#informacion
{
	width:750px;
	height:410px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	font-family: 'Francois One', sans-serif;
	font-size:18px;
	margin:0 auto;
	text-align:justify;
	
}
#respuesta
{
	width:750px;
	height:410px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	margin:0 auto;
	overflow:scroll;
}
a
{
	color:#e44e2d;
	font-size:20px;	
	text-decoration:none;
}
.titulo
{
	color:#e44e2d;
	font-size:24px;	
	text-align:center;
}
#botonSubmit
{
	border:none;
	width:70px;
	height:35px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 20px;
	cursor:pointer;
	font-size:20px;	
	font-family: 'Francois One', sans-serif;
}
#botonreset
{
	border:none;
	width:130px;
	height:35px;
	background-color:#FFFFFF;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 10px;
	cursor:pointer;
	font-size:20px;	
	font-family: 'Francois One', sans-serif;
}
#botonenviar
{
	border:none;
	width:70px;
	height:35px;
	background-color:#FFFFFF;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 10px;
	cursor:pointer;
	font-size:20px;	
	font-family: 'Francois One', sans-serif;
}
#botonvolverabuscar
{
	border:none;
	width:200px;
	height:35px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 20px;
	cursor:pointer;
	font-size:20px;	
	font-family: 'Francois One', sans-serif;
}

label
{
	display:block;
}
textarea
{
	resize:none;
}
/*
 *  STYLE 4
 */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color:#e44e2d;
	border: 2px solid #555555;
}
