@charset "utf-8";
/*CSS*/
body
{
	background-image:url(imagenes/6.jpg);
	background-repeat:repeat;
	background-position:top center;
	background-size:100% 100%;

}
#contenido
{
	width:960px;
	margin:0 auto;
	text-align:center;
	background-size:100% 100%;
}
nav ul li
{ 
	display:inline-block;
	margin-right:50px;
	margin-left:50px;
	color:#1d1d1d;
	cursor: pointer;
	padding::5px;
	font-family: 'Francois One', sans-serif;
	
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
nav ul li a
{ 
	text-decoration:none;
	font-size:30px;
}
nav ul li:hover
{
	background-color:#1d1d1d;
	color:#e44e2d;
	border-radius:5px;
}
header h1
{
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
	border-bottom:solid;
	padding-bottom:10px;
	border-width:1px;
	border-color:#1d1d1d;
	font-size:52px;
	font-family: 'Francois One', sans-serif;
	margin:0 auto;
	color:#e44e2d;	
}
#textos
{
	width:790px;
	height:520px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	font-family: 'Francois One', sans-serif;
	font-size:24px;
	margin:0 auto;
	
}
#informacion
{
	width:790px;
	height:520px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	font-family: 'Francois One', sans-serif;
	font-size:24px;
	margin:0 auto;
	text-align:justify;
}
#respuesta
{

	width:790px;
	height:520px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	font-family: 'Francois One', sans-serif;
	font-size:20px;
	margin:0 auto;	
	overflow:scroll;
	text-align:justify;
}
#formulario
{
	width:790px;
	height:520px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:20px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	font-family: 'Francois One', sans-serif;
	font-size:24px;
	margin:0 auto;	
}

a
{
	color:#e44e2d;
	font-size:24px;	
	text-decoration:none;
}
body section h3 a
{
	color:#FFF;
	font-size:24px;	
	text-decoration:none;
}
.titulo
{
	color:#e44e2d;
	font-size:30px;	
	text-align:center;
}
#botonSubmit
{
	border:none;
	width:80px;
	height:40px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 20px;
	cursor:pointer;
	font-size:24px;	
	font-family: 'Francois One', sans-serif;
}
#botonreset
{
	border:none;
	width:140px;
	height:45px;
	background-color:#FFFFFF;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 10px;
	cursor:pointer;
	font-size:24px;	
	font-family: 'Francois One', sans-serif;
}
#botonenviar
{
	border:none;
	width:80px;
	height:45px;
	background-color:#FFFFFF;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 10px;
	cursor:pointer;
	font-size:24px;	
	font-family: 'Francois One', sans-serif;
}
#botonvolverabuscar
{
	border:none;
	width:220px;
	height:45px;
	background-color:#1d1d1d;
	color:#FFF;
	border-radius:10px;
	padding:30px;
	box-shadow:0px 0px 20px rgba(0,0,0,0.5);
	color:#e44e2d;
	padding:4px;
	margin: 20px;
	cursor:pointer;
	font-size:24px;	
	font-family: 'Francois One', sans-serif;
}

label
{
	display:block;
}
textarea
{
	resize:none;
}
/*
 *  STYLE 4
 */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color:#e44e2d;
	border: 2px solid #555555;
}
body section h1
{
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
	border-bottom:solid;
	padding-bottom:10px;
	border-width:1px;
	border-color:#1d1d1d;
	font-size:28px;
	font-family: 'Francois One', sans-serif;
	margin:0 auto;
	color:#e44e2d;
	text-decoration:underline;
	text-align:center;
	
}
body section h2
{
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
	border-bottom:solid;
	padding-bottom:10px;
	border-width:1px;
	border-color:#1d1d1d;
	font-size:24px;
	font-family: 'Francois One', sans-serif;
	margin:0 auto;
	color:#e44e2d;
	
}
body section h3
{
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
	border-bottom:solid;
	padding-bottom:10px;
	border-width:1px;
	border-color:#1d1d1d;
	font-size:20px;
	font-family: 'Francois One', sans-serif;
	margin:0 auto;
	color:#e44e2d;
	
}
input
{
	font-size: 15px;
	border-radius:15;
}
